
<div class="empty-cart-display" >
  <div class="empty-cart-heading" >
    <div style="display: flex; margin-bottom: 15px;">
      <img src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/shopping-bag2.jpg?v=1641840516">
      <div style="margin-left: auto; margin-right: auto; margin-top:15px;"><h2>Your Cart is Empty</h2></div>
      <div class="empty-cart-placeholder"></div>
    </div>
  </div>

  <div class="empty-cart-box" style=" text-align: center; height:530px;  margin:auto;   color:#000;  
  vertical-align: middle;  margin-right:10px;  background-clip:content-box;  padding:1px;  
  font-weight:bold;  box-sizing:border-box;  -moz-box-sizing:border-box; 
  font-family:Sofia pro, sans-serif !important;    margin-left: auto;   margin-right: auto;  overflow: hidden;
  background-color: #D0D3D4;">
    <h2 style="font-size:18px;">Not sure where to start?</h2><br>

    <div class="empty-cart-collection">
      <img src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/shopping-bag2.jpg?v=1641840516">
      <div style="background-color: #F6C12F; margin-top: -8px; color: #fff; padding:1px;">
        <h2 style="font-size:18px;">Best Sellers</h2>
      </div>
    </div>

    <h2 style="font-size:15px;  font-family:Sofia Pro Reg !important;  font-weight:700;">
      <strong>Free US shipping <br>on all orders over $49+</strong></h2>
  </div>
</div>

<Style>
.empty-cart-box {
  width: 355px !important; 
  text-align: center; height:530px;  margin:auto;   color:#000;  background-color: #D0D3D4;
  vertical-align: middle;  margin-right:10px;  background-clip:content-box;  padding:1px;  
  font-weight:bold;  box-sizing:border-box;  -moz-box-sizing:border-box;  overflow: hidden; 
}
@media only screen and (max-width: 320px){
  .empty-cart-box {
    width: 280px !important;  
  }
}
.empty-cart-heading {
  width:350px; margin-left: auto; margin-right: auto;
}


.empty-cart-display h2 {
  margin-left: auto; margin-right: auto; font-size:16px;  font-family: Sofia Pro Reg;  font-weight:700;
}
.empty-cart-heading img { float:left; width:50px; height:58.7px; margin-left: auto;  margin-right: auto; }
.empty-cart-placeholder { width:50px; margin-left: auto; margin-right: auto;}
.empty-cart-collection { margin-left: auto; margin-right: auto; width:150px; height:150px; margin-bottom:50px; }
.empty-cart-collection img { width:150px; height:150px; }
</Style>




<div id="empty-cart" style=" text-align: center; height:530px;  margin:auto;   color:#000;  float:center;  
vertical-align: middle;  margin-right:10px;  background-clip:content-box;  padding:1px;  
border:solid 5px #F6C12F;  font-weight:bold;  box-sizing:border-box;  -moz-box-sizing:border-box; 
font-family:Sofia pro, sans-serif !important;    margin-left: auto;   margin-right: auto;  overflow: hidden;">
  <br> <h1 style="font-size:12px; font-family:Sofia pro, sans-serif !important;">YOUR CART IS EMPTY</h1><br>
   
  <img src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/shopping-bag2.jpg?v=1641840516" 
  style="width:150px; height:176px;   margin-left: auto;  margin-right: auto;"><br>
  
    <h2 style="font-size:15px;  font-family:Sofia Pro Reg !important;  font-weight:700;">
      <strong>FREE SHIPPING ON ALL US ORDERS $49+</strong></h2><br>
    <h2 style="font-size:15px;   font-family:Sofia Pro Reg !important;   font-weight:700;">
      <strong style="font-family:Sofia Pro Reg !important;">NOT SURE WHERE TO START?</strong>
    </h2><br>
    <h2 style="font-size:13px; font-family:Sofia pro !important;">Here are a few good places</h2><br>
    <a href="https://vidlogix.com/collections/best-sellers?offset=0&sortBy=bestselling"   STYLE="position: relative;  overflow: hidden;  transition: background .2s ease 0s;  margin-top: 0; font-size:1px; background-color:#F6C12F;  color:#fff;  padding: 10px 30px; text-align: center;  white-space: normal;   font-size:15px;  font-weight: 700;  display: inline-block;  margin: 0;    width: auto;   vertical-align: middle;  cursor: pointer;  box-sizing: border-box; letter-spacing: .1em; border-radius:50px;">BEST SELLERS</a><br><br>
  <a href="https://vidlogix.com/collections/new-arrivals?offset=0&f.names=&f.values=&sortBy=newest-desc"   
  STYLE="position: relative;  overflow: hidden;  transition: background .2s ease 0s;  margin-top: 0; 
  font-size:1px; background-color:#F6C12F;  color:#fff;  padding: 10px 30px; text-align: center;  
  white-space: normal;   font-size:15px;  font-weight: 700;  display: inline-block;  margin: 0;   
   width: auto;   vertical-align: middle;  cursor: pointer;  box-sizing: border-box; letter-spacing: .1em; 
   border-radius:50px;">NEW ARRIVALS</a>
</div>
   