<div style="margin-top:-38px; font-family: Sofia Pro Reg; font-weight: 400;  color:#000;">
  <div id="empty-cart-container">
    <div style="display: flex; margin-bottom: 15px;">
      <img style=" float:left; width:40px; height:47px; margin-left: auto;  margin-right: auto; "
        src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/shopping-bag2.jpg?v=1641840516">
      <div><h2>Your Cart is Empty</h2></div>
      <div style="width:30px; margin-left: auto; margin-right: auto;"></div>
    </div>
  </div>
  <div id="empty-cart-break"></div>
  
    <div style="background-color: #e5e3e4; ">
      <div id="empty-cart-box" >
        <h2 id="empty-cart-title">Not sure where to start?</h2>
        <div id="empty-cart-images">
          <a href="https://vidlogix.com/collections/best-sellers?offset=0&sortBy=bestselling">
            <div id="swap">
              <img id="img1" src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/tp-link-ax6000-next-gen-wi-fi-router.jpg?v=1642661512">
              <img id="img3" src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/fellow-ode-brew-grinder.jpg?v=1642661512">
              <img id="img2" src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/nest-wifi.jpg?v=1642661512">
              <img id="img4" src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/best-sellers_0039b478-9cd6-48f3-903f-99c0b63c13b6.jpg?v=1642661512">

            </div>
            <div id="empty-cart-subtitle"><h2>Best Sellers</h2></div>
          </a>
        </div>
        <div id="empty-cart-images">
          <a href="https://vidlogix.com/collections/new-arrivals?offset=0&f.names=&f.values=&sortBy=newest-desc">
            <div id="swap">
              <img id="img1" src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/Samsung-LST9T-Class-TV.jpg?v=1642663814">
              <img id="img2" src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/InVid-SEC-P8TXIR28NH-Camera.jpg?v=1642663814">
              <img id="img3" src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/invid-PD1B-8NH-DVR.jpg?v=1642663814">
              <img id="img4" src="https://cdn.shopify.com/s/files/1/0056/9632/3651/files/InVid-PAR-P8TXIR-LC.jpg?v=1642663814">
            </div>
            <div id="empty-cart-subtitle"><h2>New Arrivals</h2></div>
          </a>
        </div>
        <h2 id="empty-cart-bottom">Free US shipping <br>on all orders over $49+</h2>
      </div>
    </div>
  
  </div>
