<!-- <div class="page-width "> -->
    {% render 'smart-header' %}
<!-- </div> -->

{% schema %}
  {
    "name": "Smart Header",
    "settings": [
      {
        "type": "header",
        "content": "Smart Header",
        "info": "No additional configuration."
      }
    ],
    "presets": [
      {
        "name": "Smart Header"
      }
    ]
  }
{% endschema %}
